asn1crypto==1.5.1
awscli==1.46.1
awscli-local==0.22.2
boto3==1.43.89
botocore==1.43.89
cachetools==7.1.8
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
coverage==7.16.0
cryptography==50.0.1
dnslib==0.9.26
dnspython==2.8.0
docker==7.2.0
docutils==0.19
idna==3.19
iniconfig==2.3.0
jmespath==1.1.0
localstack==2026.8.0
localstack-client==2.12
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
moto==5.2.3
packaging==26.3
pluggy==1.6.0
plux==1.16.0
psutil==7.2.2
pyasn1==0.6.4
pycparser==3.0
Pygments==2.21.0
PyJWT==2.13.0
PyOTP==2.10.0
pytest==9.1.1
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
pywin32==312
PyYAML==6.0.3
requests==2.34.2
responses==0.26.3
rich==15.0.0
rsa==4.7.2
s3transfer==0.19.2
semver==3.0.4
six==1.17.0
tabulate==0.10.0
urllib3==2.7.0
Werkzeug==3.1.8
windows-curses==2.4.2
xmltodict==1.0.4
